@media print,
(max-width: 1218px)
{
    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 40px;
        padding-top: 16px;
    }


    .swiper-button-prev
    {
        left: -24px;

        width: 50px;
        height: 50px;
    }

    .swiper-button-next
    {
        right: -24px;

        width: 50px;
        height: 50px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        margin-top: 40px;
    }


    .pagination .load_more
    {
        font-size: 15px;
        line-height: 17px;

        width: 180px;
        height: 40px;
        margin-bottom: 28px;
        padding: 0;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info
    {
        margin-bottom: 48px;
    }


    .product_info .images
    {
        width: 400px;
    }


    .product_info .data
    {
        width: calc(100% - 432px);
    }


    .product_info .head
    {
        margin-bottom: 16px;
        padding-bottom: 11px;
    }


    .product_info .product_name
    {
        font-size: 30px;
        line-height: 38px;
    }


    .product_info .buy
    {
        justify-content: flex-start;

        margin-top: 20px;
    }


    .product_info .price
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 100%;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .product_info .price .label
    {
        margin-right: 20px;
        margin-bottom: 0;
    }


    .product_info .amount
    {
        margin-left: 0;
    }


    .product_info .info
    {
        margin-top: 20px;
        margin-bottom: -8px;
        margin-left: -8px;
    }

    .product_info .info > *
    {
        width: calc(33.333% - 8px);
        margin-bottom: 8px;
        margin-left: 8px;
    }


    .product_info .info .item
    {
        padding: 15px 11px;
    }

    .product_info .info .item .icon + *
    {
        width: calc(100% - 32px);
    }


    .product_info .features .title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 20px;
    }



    /*-------------------
        Product desc.
    -------------------*/
    .product_desc
    {
        margin-bottom: 60px;
    }


    .product_desc .block_title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 20px;
    }



    /*--------------
        Products
    --------------*/
    .products
    {
        margin-bottom: 60px;
    }


    .products .block_title
    {
        font-size: 24px;
        line-height: 28px;

        margin-bottom: 20px;
    }


    .products .tabs
    {
        margin-bottom: 36px;
        margin-left: -48px;
    }

    .products .tabs button
    {
        font-size: 28px;

        margin-left: 48px;
    }


    .products .row
    {
        margin-bottom: -20px;
    }

    .products .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
    }


    .products .product .thumb
    {
        margin-bottom: 16px;
    }


    .products .product .amount
    {
        width: 100%;
    }


    .products .product .buy_btn
    {
        width: 100%;
        margin-bottom: 8px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 72px;
    }


    .category_info aside
    {
        width: 240px;
    }


    .category_info .content
    {
        width: calc(100% - 280px);
    }


    .category_info .category_name
    {
        font-size: 34px;
        line-height: 40px;
    }



    /*----------------
        Categories
    ----------------*/
    .categories .sub > * + *
    {
        margin-top: 16px;
    }

    .categories .sub a
    {
        font-size: 15px;
        line-height: 19px;
    }



    /*------------
        Filter
    ------------*/
    * + .filter
    {
        margin-top: 60px;
    }


    .filter .item + .item
    {
        margin-top: 40px;
    }


    .filter .field + .field
    {
        margin-top: 16px;
    }


    .filter label
    {
        font-size: 16px;
    }


    .filter .submit
    {
        margin-top: 40px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h1
    {
        font-size: 28px;

        margin-bottom: 20px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages
    {
        padding: 40px 0;
    }


    .advantages .item
    {
        font-size: 18px;
        line-height: 22px;
    }

    .advantages .item .icon
    {
        height: 84px;
        margin-bottom: 16px;
    }
}
