@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    .cont
    {
        padding: 0 20px;
    }


    .swiper-button-prev
    {
        left: -20px;
    }

    .swiper-button-next
    {
        right: -20px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination .links a.prev
    {
        margin-right: 5px;
    }

    .pagination .links a.next
    {
        margin-left: 10px;
    }



    /*------------------
        Product info
    ------------------*/
    .product_info .images
    {
        margin-bottom: 28px;
    }


    .product_info .product_name
    {
        font-size: 22px;
        line-height: 28px;
    }


    .product_info .price
    {
        width: auto;
        margin-bottom: 12px;
    }

    .product_info .price .label
    {
        margin-right: 8px;
    }

    .product_info .price .val
    {
        font-size: 24px;
        line-height: 28px;
    }


    .product_info .amount
    {
        margin-bottom: 12px;
        margin-left: auto;
    }


    .product_info .buy_btn
    {
        width: calc(50% - 4px);
        margin-left: 0;
    }


    .product_info .quike_buy_btn
    {
        width: calc(50% - 4px);
        margin-left: auto;
        padding: 14px 15px 15px;
    }


    .product_info .info
    {
        margin-left: 0;
    }

    .product_info .info > *
    {
        width: 100%;
        margin-left: 0;
    }


    .product_info .features .title
    {
        font-size: 20px;
        line-height: 24px;
    }

    .product_info .features .val
    {
        max-width: 140px;
    }



    /*--------------
        Products
    --------------*/
    .products .tabs
    {
        margin-bottom: 28px;
        margin-left: -24px;
    }


    .products .tabs button
    {
        font-size: 22px;

        margin-left: 24px;
    }

    .products .tabs button:after
    {
        bottom: -1px;
    }


    .products .row
    {
        margin-left: 0;
    }

    .products .row > *
    {
        width: 100%;
        margin-bottom: 12px;
        margin-left: 0;
    }


    .products .product,
    .products .row .product
    {
        padding: 19px;
    }

    .products .product .amount
    {
        width: 84px;
    }

    .products .product .buy_btn
    {
        width: calc(100% - 92px);
        margin-bottom: 0;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info
    {
        margin-bottom: 60px;
    }


    .category_info .mob_btns .btn
    {
        width: calc(50% - 5px);
        height: 40px;
    }


    .category_info .category_name
    {
        font-size: 30px;
        line-height: 36px;
    }



    /*----------
        Sort
    ----------*/
    .sort .name
    {
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h1
    {
        font-size: 22px;
        line-height: 30px;
    }
}
